

html,
body {
	background-color: darkred;
	font: normal 14px arial,sans-serif;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.row {
  margin-left:0px;
  margin-right:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}


/* Custom page CSS
-------------------------------------------------- */

#wrap > .container {
  padding: 60px 15px 0;
}

p {
	color: black;
}

#black {
	color: black;
	background-color: white;
}

#white {
	color: white
}

#section5 {
	color: white;
}

.left {
	text-align: left;
}

.bold {
	color: black;
	text-decoration-style: solid;
}

.container .credit {
  margin: 20px 0;
}

#footer {
  background-color:#414141;
}

#footer a {
  color:#efefef;
}

.social-media-icon {
    height: 50px;
    margin: 0 5px;
    width: 50px;
}

h1,h2,h3,h4 {
  font-family: 'Kreon', serif;
  vertical-align:middle;
}

header h1,header h2,header h3 a,header a,header a:hover {
	color: white;
  font-weight:800;
  text-decoration:none;
}

h3 {
	background: #ffcc33;
	border-radius:3px;
  font-family: 'Kreon', serif;
  padding:10px;
  font-size:34px;
  padding:12px 10px 6px 10px;
}

h1 {
  font-size:50px;
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

#footer > .container {
  
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
.navbar-nav {
  margin: 1px 1px; 
}  
  
/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
	  border-width:0;
	  font-weight:700;
    text-transform:uppercase;
}
.navbar-custom  .navbar-nav>li>a {
	color: #ddd;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
	background-color: #000;
}
.navbar-custom .dropdown-menu{
	right:0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-bottom-color: #999;
	border-top-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

.divider {
	
}

.panel {
	border-width:0;
}

@media (max-width: 768px) {
	header {
		height: 95px;
	}
}

#map-canvas { 
  height: 300px;
	margin: 0;
	padding: 15px;
	width: 100%;
}

.scroll-top {
	 background: #ffcc33;
	 border-top-left-radius:3px;
   border-top-right-radius:3px;
	 bottom:0;
	 font-size:24px;
   position:fixed;
   right:6%;
   z-index:100;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 
 

section {
  color: #ffffff;
  height: auto !important;
  height: 100%;
	min-height: 400px;
  padding-top:100px;
}

.bg-1 {
	background: url('/../img/help.JPG') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-2 {
	background: url('http://www.bootply.com/assets/example/bg_5.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-3 {
	background: url('../img/kids2.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-4 {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20,20,20,0.2)),to(rgba(255,255,255,0)), color-stop(1,#000));
	padding-top:30px;
}
